.container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  padding: 10px;
  grid-gap: 100px
}

.header {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  text-align: center;
}